#title{
	  background: #3f8;
	  text-align: center;
	  border: 3px solid #000;
	}

#Life{
	text-align: center;
	border: 2px solid #000;
	position:relative;
	font-size: 30px;
	}
	
.glasses{
background: #f1f1f1;
border: 3px solid #000;
position:relative;
}
.Start{
border: 3px solid #000;
position:relative;
}
.End{
border: 3px solid #000;
position:relative;
}
#GlassTable{
position:absolute;
top: 200px;
left: 10px;
}
#StartPoint{
background: white;
width: 100px;
}
#EndPoint{
background: white;
width: 100px;
}

#DescriptionTable{
	  background: #dfd6ab;
	  text-align: center;
	  border: 3px solid #000;
	  width:99%;
	position:relative;
	top : 330px;
	}
	
#Description{
width:99%;
	position:relative;
	top : 328px;
	  text-align: left;
	  border: 3px solid #000;
	  font-size: 30px;
	  color: blue;
	}
