body{
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    
    height: 100vh;
    background: url("bg.png") no-repeat center;
    background-size: cover;
}

#title{
font-size: 70px;
}


#back{
position:absolute;
top: 87%;
font-size:50px;
background-color: black;
color:skyblue;
border: 1px solid skyblue;
border-radius: 15px;
padding: 5px;
}



#back:hover{
background:skyblue;
color:black;
}


#back:active{
background:black;
color:skyblue;
}

#board{
position:absolute;
left:35%;
top:15%;
width: 30%;
height: 70%;
background-color: skyblue;
border-radius: 20px;
}

.Btitle{
border: 2px solid black;
font-size:30px;
color:red;
}

.Btable{
border: 2px solid black;
font-size: 20px;
}